In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Project/LoL/teamGold_2021-02-20.csv')
df

           gameId platformId   gameCreation  gameDuration  ...  R56  R57  R58  R59
0      2696218520       EUN1  1610107079251          1953  ...  NaN  NaN  NaN  NaN
1      5019660091       EUW1  1610083170348          1393  ...  NaN  NaN  NaN  NaN
2      4903548900         KR  1610034019092          1590  ...  NaN  NaN  NaN  NaN
3      3736930681        NA1  1610198529096          1329  ...  NaN  NaN  NaN  NaN
4       392542622        OC1  1610149411577          1874  ...  NaN  NaN  NaN  NaN
...           ...        ...            ...           ...  ...  ...  ...  ...  ...
52092  5098738412       EUW1  1613480678524          1596  ...  NaN  NaN  NaN  NaN
52093  5098870827       EUW1  1613482617984          1991  ...  NaN  NaN  NaN  NaN
52094  5100439310       EUW1  1613516440474          1496  ...  NaN  NaN  NaN  NaN
52095  5100505530       EUW1  1613518910316          1362  ...  NaN  NaN  NaN  NaN
52096  5100578151       EUW1  1613521064363          1779  ...  NaN  NaN  NaN  NaN

[52097 rows x 125 columns]

In [ ]:
df['winTeam'] = df['winTeam'].apply(lambda x: 1 if x==100 else 0)
df['winTeam'].value_counts()

0    27183
1    24914
Name: winTeam, dtype: int64

In [ ]:
df = df[df['gameDuration']>1200].copy()
df.drop(columns=['gameId', 'platformId', 'gameCreation', 'gameDuration'], inplace=True)
df.drop(columns=[col for col in df.columns if any(f'{i}' in col for i in range(21,60))], inplace=True)
df

       winTeam   B00   B01   B02  ...      R17      R18      R19      R20
0            1  2500  2520  2919  ...  30989.0  32723.0  33916.0  36384.0
1            0  2500  2500  2959  ...  38867.0  41312.0  43572.0  45351.0
2            1  2500  2500  3013  ...  31685.0  33838.0  36152.0  38505.0
3            1  2500  2500  2900  ...  25991.0  27320.0  28459.0  29974.0
4            1  2500  2500  2938  ...  27556.0  28522.0  29811.0  31719.0
...        ...   ...   ...   ...  ...      ...      ...      ...      ...
52092        1  2500  2500  3787  ...  28215.0  30054.0  31881.0  33817.0
52093        0  2500  2500  3516  ...  30742.0  32134.0  34839.0  36480.0
52094        1  2500  2510  2899  ...  30303.0  31725.0  32835.0  34616.0
52095        0  2500  2500  2994  ...  36139.0  37828.0  40425.0  42330.0
52096        0  2500  2500  2978  ...  37465.0  39707.0  41276.0  43760.0

[43048 rows x 43 columns]

In [ ]:
df = df[(df['B20']-df['R20']).between(-5000,5000)].copy()
len(df)

25097

In [ ]:
d_mean = []
d_std = []
for i in range(21):
    cols = [f'B{i:02d}', f'R{i:02d}']
    m = np.nanmean(df[cols])
    s = np.nanstd(df[cols])
    for team in cols:
        df[team] = (df[team]-m)/s if s>0 else 0
    d_mean.append(m)
    d_std.append(s)
df

In [ ]:
for i in range(21):
    cols = [f'B{i:02d}', f'R{i:02d}']
    m = np.nanmax(df[cols])
    n = np.nanmin(df[cols])
    for team in cols:
        df[team] = (df[team]-n)/(m-n) if m>n else 0
df

       winTeam  B00      B01       B02  ...       R17       R18       R19       R20
5            0    0  0.00000  0.116950  ...  0.294685  0.306522  0.308732  0.349092
6            0    0  0.00000  0.099565  ...  0.519848  0.585615  0.544357  0.556041
7            0    0  0.00000  0.094824  ...  0.207863  0.289890  0.293392  0.322775
10           1    0  0.00000  0.109838  ...  0.297180  0.373432  0.402650  0.386020
11           1    0  0.00000  0.089293  ...  0.392408  0.521976  0.486537  0.497425
...        ...  ...      ...       ...  ...       ...       ...       ...       ...
52086        0    0  0.02001  0.126037  ...  0.471312  0.552568  0.559751  0.533625
52089        0    0  0.00000  0.108653  ...  0.431725  0.539808  0.542856  0.602746
52091        1    0  0.00000  0.144212  ...  0.241974  0.301014  0.317099  0.341031
52093        0    0  0.00000  0.361122  ...  0.351302  0.359908  0.391225  0.395434
52096        0    0  0.00000  0.148558  ...  0.715889  0.772876  0.736484  0.774068

[25097 rows x 43 columns]

In [ ]:
from sklearn.model_selection import train_test_split
from random import randint

In [ ]:
cols = [col for i in range(1,21) for col in [f'B{i:02d}',f'R{i:02d}']]
random_state = randint(0,1e6)
print(f'Random state: {random_state}.')
X_train, X_test, y_train, y_test = train_test_split(df[cols], df['winTeam'], test_size=0.2, random_state=random_state)

Random state: 773991.

In [ ]:
import tensorflow as tf

In [ ]:
inputs = tf.keras.Input(shape=(40,))
x = tf.keras.layers.Reshape((20,2))(inputs)
x = tf.keras.layers.LSTM(4)(x)
outputs = tf.keras.layers.Dense(1, activation=tf.nn.sigmoid)(x)
model = tf.keras.Model(inputs=inputs, outputs=outputs)

In [ ]:
inputs = tf.keras.Input(shape=(42,))
#x = tf.keras.layers.Dense(21, activation=tf.nn.relu)(inputs)
#x = tf.keras.layers.Dropout(0.5)(x)
x = tf.keras.layers.Reshape((21,2))(inputs)
x = tf.keras.layers.Bidirectional(tf.keras.layers.LSTM(84))(x)
x = tf.keras.layers.Dense(84, activation=tf.nn.relu)(x)
outputs = tf.keras.layers.Dense(1, activation=tf.nn.sigmoid)(x)
model = tf.keras.Model(inputs=inputs, outputs=outputs)

In [ ]:
inputs = tf.keras.Input(shape=(42,))
#x = tf.keras.layers.BatchNormalization()(inputs)
x = tf.keras.layers.Dropout(0.3)(inputs)
for _ in range(2):
  x = tf.keras.layers.Dense(21)(x)
  x = tf.keras.layers.BatchNormalization()(x)
  x = tf.keras.layers.Activation(tf.keras.activations.swish)(x)
  x = tf.keras.layers.Dropout(0.1)(x)
x = tf.keras.layers.Dense(1)(x)
outputs = tf.keras.layers.Activation('sigmoid')(x)
model = tf.keras.Model(inputs=inputs, outputs=outputs)

In [ ]:
model.compile(optimizer = tf.keras.optimizers.Adam(),
              loss=tf.keras.losses.BinaryCrossentropy(),
              metrics=['accuracy'])

In [ ]:
model.fit(X_train, y_train, epochs=100, batch_size=32, validation_data = (X_test, y_test))

Epoch 1/100
628/628 [==============================] - 7s 8ms/step - loss: 0.6986 - accuracy: 0.5155 - val_loss: 0.6672 - val_accuracy: 0.6187
Epoch 2/100
628/628 [==============================] - 5s 8ms/step - loss: 0.6634 - accuracy: 0.6192 - val_loss: 0.6409 - val_accuracy: 0.6574
Epoch 3/100
628/628 [==============================] - 5s 7ms/step - loss: 0.6398 - accuracy: 0.6553 - val_loss: 0.6262 - val_accuracy: 0.6689
Epoch 4/100
628/628 [==============================] - 5s 7ms/step - loss: 0.6234 - accuracy: 0.6726 - val_loss: 0.6130 - val_accuracy: 0.6813
Epoch 5/100
628/628 [==============================] - 5s 7ms/step - loss: 0.6146 - accuracy: 0.6797 - val_loss: 0.6050 - val_accuracy: 0.6878
Epoch 6/100
628/628 [==============================] - 5s 7ms/step - loss: 0.6087 - accuracy: 0.6857 - val_loss: 0.5993 - val_accuracy: 0.6920
Epoch 7/100
628/628 [==============================] - 5s 8ms/step - loss: 0.6039 - accuracy: 0.6838 - val_loss: 0.5962 - val_accuracy: 0.6936
Epoch 8/100
628/628 [==============================] - 5s 8ms/step - loss: 0.5965 - accuracy: 0.6902 - val_loss: 0.5941 - val_accuracy: 0.6930
Epoch 9/100
628/628 [==============================] - 5s 8ms/step - loss: 0.5914 - accuracy: 0.6938 - val_loss: 0.5900 - val_accuracy: 0.6970
Epoch 10/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5858 - accuracy: 0.6976 - val_loss: 0.5882 - val_accuracy: 0.6956
Epoch 11/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5906 - accuracy: 0.6936 - val_loss: 0.5862 - val_accuracy: 0.7000
Epoch 12/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5847 - accuracy: 0.7012 - val_loss: 0.5859 - val_accuracy: 0.7012
Epoch 13/100
628/628 [==============================] - 5s 8ms/step - loss: 0.5867 - accuracy: 0.7005 - val_loss: 0.5831 - val_accuracy: 0.7048
Epoch 14/100
628/628 [==============================] - 5s 8ms/step - loss: 0.5860 - accuracy: 0.6996 - val_loss: 0.5817 - val_accuracy: 0.7048
Epoch 15/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5837 - accuracy: 0.6979 - val_loss: 0.5825 - val_accuracy: 0.7018
Epoch 16/100
628/628 [==============================] - 4s 7ms/step - loss: 0.5848 - accuracy: 0.6993 - val_loss: 0.5798 - val_accuracy: 0.7056
Epoch 17/100
628/628 [==============================] - 4s 7ms/step - loss: 0.5847 - accuracy: 0.6979 - val_loss: 0.5803 - val_accuracy: 0.7038
Epoch 18/100
628/628 [==============================] - 4s 7ms/step - loss: 0.5795 - accuracy: 0.7016 - val_loss: 0.5777 - val_accuracy: 0.7018
Epoch 19/100
628/628 [==============================] - 4s 7ms/step - loss: 0.5809 - accuracy: 0.7002 - val_loss: 0.5798 - val_accuracy: 0.7048
Epoch 20/100
628/628 [==============================] - 4s 7ms/step - loss: 0.5773 - accuracy: 0.7049 - val_loss: 0.5764 - val_accuracy: 0.7044
Epoch 21/100
628/628 [==============================] - 4s 7ms/step - loss: 0.5761 - accuracy: 0.7062 - val_loss: 0.5784 - val_accuracy: 0.7042
Epoch 22/100
628/628 [==============================] - 4s 7ms/step - loss: 0.5764 - accuracy: 0.7027 - val_loss: 0.5754 - val_accuracy: 0.7050
Epoch 23/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5773 - accuracy: 0.7066 - val_loss: 0.5774 - val_accuracy: 0.7038
Epoch 24/100
628/628 [==============================] - 5s 8ms/step - loss: 0.5786 - accuracy: 0.7078 - val_loss: 0.5749 - val_accuracy: 0.7044
Epoch 25/100
628/628 [==============================] - 4s 7ms/step - loss: 0.5751 - accuracy: 0.7083 - val_loss: 0.5767 - val_accuracy: 0.7028
Epoch 26/100
628/628 [==============================] - 4s 7ms/step - loss: 0.5803 - accuracy: 0.6982 - val_loss: 0.5761 - val_accuracy: 0.7030
Epoch 27/100
628/628 [==============================] - 4s 7ms/step - loss: 0.5831 - accuracy: 0.6988 - val_loss: 0.5743 - val_accuracy: 0.7028
Epoch 28/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5733 - accuracy: 0.7072 - val_loss: 0.5737 - val_accuracy: 0.7048
Epoch 29/100
628/628 [==============================] - 4s 7ms/step - loss: 0.5800 - accuracy: 0.7012 - val_loss: 0.5738 - val_accuracy: 0.7042
Epoch 30/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5777 - accuracy: 0.7011 - val_loss: 0.5735 - val_accuracy: 0.7040
Epoch 31/100
628/628 [==============================] - 4s 7ms/step - loss: 0.5777 - accuracy: 0.7048 - val_loss: 0.5736 - val_accuracy: 0.7044
Epoch 32/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5737 - accuracy: 0.7063 - val_loss: 0.5746 - val_accuracy: 0.7016
Epoch 33/100
628/628 [==============================] - 4s 7ms/step - loss: 0.5779 - accuracy: 0.7041 - val_loss: 0.5738 - val_accuracy: 0.7024
Epoch 34/100
628/628 [==============================] - 4s 7ms/step - loss: 0.5765 - accuracy: 0.7029 - val_loss: 0.5746 - val_accuracy: 0.7016
Epoch 35/100
628/628 [==============================] - 4s 7ms/step - loss: 0.5799 - accuracy: 0.6987 - val_loss: 0.5750 - val_accuracy: 0.7022
Epoch 36/100
628/628 [==============================] - 4s 7ms/step - loss: 0.5741 - accuracy: 0.7053 - val_loss: 0.5760 - val_accuracy: 0.7010
Epoch 37/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5788 - accuracy: 0.7001 - val_loss: 0.5735 - val_accuracy: 0.7044
Epoch 38/100
628/628 [==============================] - 4s 7ms/step - loss: 0.5764 - accuracy: 0.7061 - val_loss: 0.5734 - val_accuracy: 0.7060
Epoch 39/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5743 - accuracy: 0.7050 - val_loss: 0.5779 - val_accuracy: 0.7024
Epoch 40/100
628/628 [==============================] - 4s 7ms/step - loss: 0.5790 - accuracy: 0.7020 - val_loss: 0.5746 - val_accuracy: 0.7016
Epoch 41/100
628/628 [==============================] - 4s 7ms/step - loss: 0.5763 - accuracy: 0.7048 - val_loss: 0.5734 - val_accuracy: 0.7032
Epoch 42/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5706 - accuracy: 0.7109 - val_loss: 0.5759 - val_accuracy: 0.7018
Epoch 43/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5759 - accuracy: 0.7037 - val_loss: 0.5739 - val_accuracy: 0.7022
Epoch 44/100
628/628 [==============================] - 4s 7ms/step - loss: 0.5727 - accuracy: 0.7087 - val_loss: 0.5762 - val_accuracy: 0.7022
Epoch 45/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5791 - accuracy: 0.7019 - val_loss: 0.5741 - val_accuracy: 0.7016
Epoch 46/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5757 - accuracy: 0.7011 - val_loss: 0.5733 - val_accuracy: 0.7042
Epoch 47/100
628/628 [==============================] - 4s 7ms/step - loss: 0.5813 - accuracy: 0.6987 - val_loss: 0.5738 - val_accuracy: 0.7016
Epoch 48/100
628/628 [==============================] - 4s 7ms/step - loss: 0.5756 - accuracy: 0.7039 - val_loss: 0.5739 - val_accuracy: 0.7026
Epoch 49/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5797 - accuracy: 0.7011 - val_loss: 0.5746 - val_accuracy: 0.7024
Epoch 50/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5720 - accuracy: 0.7052 - val_loss: 0.5737 - val_accuracy: 0.7020
Epoch 51/100
628/628 [==============================] - 4s 7ms/step - loss: 0.5760 - accuracy: 0.7050 - val_loss: 0.5747 - val_accuracy: 0.7012
Epoch 52/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5774 - accuracy: 0.7054 - val_loss: 0.5748 - val_accuracy: 0.7024
Epoch 53/100
628/628 [==============================] - 4s 7ms/step - loss: 0.5784 - accuracy: 0.7050 - val_loss: 0.5736 - val_accuracy: 0.7038
Epoch 54/100
628/628 [==============================] - 4s 7ms/step - loss: 0.5732 - accuracy: 0.7065 - val_loss: 0.5737 - val_accuracy: 0.7038
Epoch 55/100
628/628 [==============================] - 4s 7ms/step - loss: 0.5778 - accuracy: 0.7058 - val_loss: 0.5737 - val_accuracy: 0.7024
Epoch 56/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5771 - accuracy: 0.6996 - val_loss: 0.5735 - val_accuracy: 0.7042
Epoch 57/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5785 - accuracy: 0.7019 - val_loss: 0.5734 - val_accuracy: 0.7056
Epoch 58/100
628/628 [==============================] - 4s 7ms/step - loss: 0.5761 - accuracy: 0.7044 - val_loss: 0.5753 - val_accuracy: 0.7024
Epoch 59/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5810 - accuracy: 0.7013 - val_loss: 0.5737 - val_accuracy: 0.7032
Epoch 60/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5784 - accuracy: 0.7033 - val_loss: 0.5741 - val_accuracy: 0.7012
Epoch 61/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5786 - accuracy: 0.7044 - val_loss: 0.5738 - val_accuracy: 0.7014
Epoch 62/100
628/628 [==============================] - 4s 7ms/step - loss: 0.5773 - accuracy: 0.7064 - val_loss: 0.5761 - val_accuracy: 0.7020
Epoch 63/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5722 - accuracy: 0.7081 - val_loss: 0.5750 - val_accuracy: 0.7018
Epoch 64/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5776 - accuracy: 0.7048 - val_loss: 0.5740 - val_accuracy: 0.7012
Epoch 65/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5734 - accuracy: 0.7082 - val_loss: 0.5736 - val_accuracy: 0.7034
Epoch 66/100
628/628 [==============================] - 4s 7ms/step - loss: 0.5799 - accuracy: 0.7029 - val_loss: 0.5764 - val_accuracy: 0.7020
Epoch 67/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5750 - accuracy: 0.7067 - val_loss: 0.5736 - val_accuracy: 0.7044
Epoch 68/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5793 - accuracy: 0.6995 - val_loss: 0.5738 - val_accuracy: 0.7038
Epoch 69/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5795 - accuracy: 0.7045 - val_loss: 0.5741 - val_accuracy: 0.7012
Epoch 70/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5778 - accuracy: 0.7053 - val_loss: 0.5733 - val_accuracy: 0.7052
Epoch 71/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5738 - accuracy: 0.7067 - val_loss: 0.5759 - val_accuracy: 0.7028
Epoch 72/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5790 - accuracy: 0.7030 - val_loss: 0.5737 - val_accuracy: 0.7042
Epoch 73/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5770 - accuracy: 0.7057 - val_loss: 0.5746 - val_accuracy: 0.7022
Epoch 74/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5736 - accuracy: 0.7071 - val_loss: 0.5771 - val_accuracy: 0.7030
Epoch 75/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5692 - accuracy: 0.7105 - val_loss: 0.5748 - val_accuracy: 0.7014
Epoch 76/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5714 - accuracy: 0.7088 - val_loss: 0.5735 - val_accuracy: 0.7038
Epoch 77/100
628/628 [==============================] - 5s 8ms/step - loss: 0.5739 - accuracy: 0.7085 - val_loss: 0.5772 - val_accuracy: 0.7020
Epoch 78/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5748 - accuracy: 0.7030 - val_loss: 0.5748 - val_accuracy: 0.7012
Epoch 79/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5751 - accuracy: 0.7039 - val_loss: 0.5740 - val_accuracy: 0.7022
Epoch 80/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5741 - accuracy: 0.7076 - val_loss: 0.5761 - val_accuracy: 0.7028
Epoch 81/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5813 - accuracy: 0.6972 - val_loss: 0.5746 - val_accuracy: 0.7016
Epoch 82/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5779 - accuracy: 0.7026 - val_loss: 0.5738 - val_accuracy: 0.7050
Epoch 83/100
628/628 [==============================] - 4s 7ms/step - loss: 0.5809 - accuracy: 0.7028 - val_loss: 0.5747 - val_accuracy: 0.7010
Epoch 84/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5785 - accuracy: 0.7032 - val_loss: 0.5739 - val_accuracy: 0.7022
Epoch 85/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5730 - accuracy: 0.7078 - val_loss: 0.5745 - val_accuracy: 0.7018
Epoch 86/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5742 - accuracy: 0.7063 - val_loss: 0.5746 - val_accuracy: 0.7012
Epoch 87/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5788 - accuracy: 0.7028 - val_loss: 0.5748 - val_accuracy: 0.7026
Epoch 88/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5762 - accuracy: 0.7045 - val_loss: 0.5749 - val_accuracy: 0.7024
Epoch 89/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5730 - accuracy: 0.7096 - val_loss: 0.5745 - val_accuracy: 0.7022
Epoch 90/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5764 - accuracy: 0.7047 - val_loss: 0.5735 - val_accuracy: 0.7024
Epoch 91/100
628/628 [==============================] - 5s 8ms/step - loss: 0.5799 - accuracy: 0.7011 - val_loss: 0.5734 - val_accuracy: 0.7030
Epoch 92/100
628/628 [==============================] - 5s 8ms/step - loss: 0.5759 - accuracy: 0.7016 - val_loss: 0.5735 - val_accuracy: 0.7032
Epoch 93/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5743 - accuracy: 0.7076 - val_loss: 0.5751 - val_accuracy: 0.7018
Epoch 94/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5717 - accuracy: 0.7092 - val_loss: 0.5749 - val_accuracy: 0.7018
Epoch 95/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5783 - accuracy: 0.7052 - val_loss: 0.5747 - val_accuracy: 0.7024
Epoch 96/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5718 - accuracy: 0.7047 - val_loss: 0.5748 - val_accuracy: 0.7012
Epoch 97/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5765 - accuracy: 0.7058 - val_loss: 0.5738 - val_accuracy: 0.7038
Epoch 98/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5779 - accuracy: 0.7070 - val_loss: 0.5734 - val_accuracy: 0.7050
Epoch 99/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5753 - accuracy: 0.7049 - val_loss: 0.5752 - val_accuracy: 0.7020
Epoch 100/100
628/628 [==============================] - 5s 7ms/step - loss: 0.5734 - accuracy: 0.7049 - val_loss: 0.5765 - val_accuracy: 0.7020

In [ ]:
model.evaluate(X_test, y_test)

In [ ]:
model.get_weights()

In [ ]:
model.predict(X_test)

array([[0.47332078],
       [0.84626526],
       [0.26570255],
       ...,
       [0.50808406],
       [0.81641793],
       [0.58659136]], dtype=float32)

In [ ]:
X_test['pred'] = [a[0] for a in model.predict(X_test)]

In [ ]:
X_test[y_test!=X_test['pred'].apply(lambda x: 1 if x>0.5 else 0)][['pred', 'B20', 'R20']]

           pred       B20       R20
37676  0.265703  0.216154  0.349613
22426  0.597952  0.422011  0.363655
36984  0.553242  0.437770  0.444479
39250  0.395372  0.232382  0.279555
29154  0.463808  0.303219  0.355958
...         ...       ...       ...
26826  0.193995  0.272169  0.387632
48660  0.285941  0.551568  0.628127
52018  0.153024  0.400947  0.647475
19403  0.252535  0.252874  0.352525
32647  0.426943  0.230977  0.231809

[1521 rows x 3 columns]

In [ ]:
X_test['win'] = y_test
X_int = X_test[((X_test['pred']-0.5)*(X_test['B20']-X_test['R20']))<0][['B20','R20','pred','win']]
X_int

            B20       R20      pred  win
36984  0.437770  0.444479  0.553242    0
26146  0.355854  0.358298  0.605342    1
40721  0.428668  0.497009  0.509556    0
51119  0.515889  0.502522  0.422947    1
27967  0.579238  0.636709  0.560840    0
...         ...       ...       ...  ...
22285  0.538253  0.547563  0.522611    1
50370  0.338274  0.379726  0.513956    0
48887  0.433037  0.408488  0.496739    1
30833  0.449316  0.442451  0.490112    0
42494  0.525719  0.502210  0.440600    1

[357 rows x 4 columns]

In [ ]:
X_int['pW'] = X_int['pred'].apply(lambda x: 1 if x>0.5 else 0)
X_int[X_int['pW']!=X_int['win']]

            B20       R20      pred  win  pW
36984  0.437770  0.444479  0.553242    0   1
40721  0.428668  0.497009  0.509556    0   1
51119  0.515889  0.502522  0.422947    1   0
27967  0.579238  0.636709  0.560840    0   1
21778  0.375098  0.377490  0.536102    0   1
...         ...       ...       ...  ...  ..
45822  0.506111  0.526447  0.505632    0   1
4615   0.367816  0.278411  0.489672    1   0
50370  0.338274  0.379726  0.513956    0   1
48887  0.433037  0.408488  0.496739    1   0
42494  0.525719  0.502210  0.440600    1   0

[166 rows x 5 columns]

In [ ]:
print(model.predict(X_test))
y_pred = pd.Series(model.predict(X_test).tolist(), index=y_test.index)
y_pred = y_pred.apply(lambda x: 1 if x[0]>0.5 else 0)

[[0.03069115]
 [0.892285  ]
 [0.9262565 ]
 ...
 [0.20673528]
 [0.92696875]
 [0.5848262 ]]

In [ ]:
(y_pred==y_test).mean()

0.7234610917537747

In [ ]:
print(len(model.predict(X_test)), len(X_test))

8610 8610

In [ ]:
print(y_train.mean(),y_test.mean())

0.47926708868110807 0.4771196283391405

# Experiment 1

In [ ]:
cols = list(df.columns)
print(cols, len(cols))

['winTeam', 'B00', 'B01', 'B02', 'B03', 'B04', 'B05', 'B06', 'B07', 'B08', 'B09', 'B10', 'B11', 'B12', 'B13', 'B14', 'B15', 'B16', 'B17', 'B18', 'B19', 'B20', 'R00', 'R01', 'R02', 'R03', 'R04', 'R05', 'R06', 'R07', 'R08', 'R09', 'R10', 'R11', 'R12', 'R13', 'R14', 'R15', 'R16', 'R17', 'R18', 'R19', 'R20'] 43

In [ ]:
cols[1:22], cols[22:43] = cols[22:43], cols[1:22]
df2 = df.copy()
df2.columns = cols
df2 = df2.reindex(columns=df.columns)
df2['winTeam'] = 1 - df2['winTeam']
df2

       winTeam  B00       B01       B02  ...       R17       R18       R19       R20
0            0    0 -0.186132 -0.054533  ...  2.254304  2.099076  2.577991  2.442738
1            1    0 -0.186132 -0.163553  ...  0.044122 -0.248845 -0.305693 -0.454083
2            0    0 -0.186132 -0.480228  ...  1.986181  2.231303  2.211457  1.999952
3            0    0  0.015132 -0.319294  ...  0.486228  0.296631  1.236057  0.990501
4            0    0 -0.186132 -0.085682  ...  0.569559  0.794350  0.828528  0.883064
...        ...  ...       ...       ...  ...       ...       ...       ...       ...
52092        0    0 -0.155942  0.776089  ...  0.533995  0.696561  0.520603  0.432624
52093        1    0 -0.186132  1.606712  ... -0.267932 -0.229027 -0.143228 -0.295338
52094        0    0  0.015132 -0.205084  ...  0.824781  1.110136  1.602895  1.291267
52095        1    0 -0.186132  0.044103  ... -0.830327 -1.044481 -1.152031 -0.930603
52096        1    0 -0.186132 -0.002620  ...  0.476466  0.518851  0.985527  0.830054

[43048 rows x 43 columns]

In [ ]:
df3 = df.append(df2, ignore_index=True)
df3

       winTeam  B00       B01       B02  ...       R17       R18       R19       R20
0            1    0  0.015132 -0.262189  ... -0.103362 -0.192641 -0.432021 -0.274644
1            0    0 -0.186132 -0.054533  ...  2.643413  2.597770  2.500250  2.267268
2            1    0 -0.186132  0.225802  ...  0.139308  0.169603  0.246993  0.326605
3            1    0 -0.186132 -0.360826  ... -1.845985 -1.947977 -2.089167 -2.091713
4            1    0 -0.186132 -0.163553  ... -1.300326 -1.557469 -1.678601 -1.597050
...        ...  ...       ...       ...  ...       ...       ...       ...       ...
86091        0    0 -0.155942  0.776089  ...  0.533995  0.696561  0.520603  0.432624
86092        1    0 -0.186132  1.606712  ... -0.267932 -0.229027 -0.143228 -0.295338
86093        0    0  0.015132 -0.205084  ...  0.824781  1.110136  1.602895  1.291267
86094        1    0 -0.186132  0.044103  ... -0.830327 -1.044481 -1.152031 -0.930603
86095        1    0 -0.186132 -0.002620  ...  0.476466  0.518851  0.985527  0.830054

[86096 rows x 43 columns]

In [ ]:
from sklearn.model_selection import train_test_split
from random import randint

In [ ]:
random_state = randint(0,1e6)
print(f'Random state: {random_state}.')
X_train, X_test, y_train, y_test = train_test_split(df3[[f'B{i:02d}' for i in range(1,21)]], df3['winTeam'], test_size=0.2, random_state=random_state)

Random state: 544421.

In [ ]:
import tensorflow as tf

In [ ]:
inputs = tf.keras.Input(shape=(20,))
x = tf.keras.layers.Dense(40, activation=tf.nn.relu)(inputs)
x = tf.keras.layers.Dense(40, activation=tf.nn.relu)(x)
outputs = tf.keras.layers.Dense(1, activation=tf.nn.sigmoid)(x)
model = tf.keras.Model(inputs=inputs, outputs=outputs)

In [ ]:
model.compile(optimizer='adam',
              loss=tf.keras.losses.BinaryCrossentropy(),
              metrics=['accuracy'])

In [ ]:
model.fit(X_train, y_train, batch_size=1, epochs=10, validation_data = (X_test, y_test))

Epoch 1/10
68876/68876 [==============================] - 81s 1ms/step - loss: 0.5261 - accuracy: 0.7367 - val_loss: 0.5119 - val_accuracy: 0.7479
Epoch 2/10
68876/68876 [==============================] - 81s 1ms/step - loss: 0.5113 - accuracy: 0.7460 - val_loss: 0.5158 - val_accuracy: 0.7481
Epoch 3/10
68876/68876 [==============================] - 80s 1ms/step - loss: 0.5126 - accuracy: 0.7466 - val_loss: 0.5059 - val_accuracy: 0.7497
Epoch 4/10
68876/68876 [==============================] - 80s 1ms/step - loss: 0.5104 - accuracy: 0.7470 - val_loss: 0.5097 - val_accuracy: 0.7482
Epoch 5/10
68876/68876 [==============================] - 80s 1ms/step - loss: 0.5115 - accuracy: 0.7469 - val_loss: 0.5097 - val_accuracy: 0.7512
Epoch 6/10
68876/68876 [==============================] - 80s 1ms/step - loss: 0.5032 - accuracy: 0.7518 - val_loss: 0.5051 - val_accuracy: 0.7507
Epoch 7/10
68876/68876 [==============================] - 79s 1ms/step - loss: 0.5094 - accuracy: 0.7479 - val_loss: 0.5067 - val_accuracy: 0.7497
Epoch 8/10
68876/68876 [==============================] - 79s 1ms/step - loss: 0.5090 - accuracy: 0.7460 - val_loss: 0.5087 - val_accuracy: 0.7521
Epoch 9/10
68876/68876 [==============================] - 80s 1ms/step - loss: 0.5060 - accuracy: 0.7501 - val_loss: 0.5072 - val_accuracy: 0.7506
Epoch 10/10
68876/68876 [==============================] - 80s 1ms/step - loss: 0.5106 - accuracy: 0.7476 - val_loss: 0.5071 - val_accuracy: 0.7523

In [ ]:
y = model.predict(df3[[f'B{i:02d}' for i in range(1,21)]])
print(len(y))

86096

In [ ]:
y_pred = [a[0] for a in y]

In [ ]:
final_result = [1 if a-b>0 else 0 for a,b in zip(y_pred[:86096//2], y_pred[86096//2:])]
print(final_result[:10])

[1, 0, 1, 1, 1, 0, 0, 0, 1, 1]

In [ ]:
df['pred'] = final_result

In [ ]:
(df['pred']==df['winTeam']).mean()

0.8034751904850399

In [ ]:
df['prob'] = [a-b for a,b in zip(y_pred[:86096//2], y_pred[86096//2:])]
df[df['winTeam']!=df['pred']][['winTeam', 'pred', 'prob', 'B20', 'R20']]

       winTeam  pred      prob       B20       R20
9            0     1  0.663770  0.188269 -1.302237
10           1     0 -0.318274 -0.927201 -0.298739
27           1     0 -0.085732 -1.251779 -0.790000
40           0     1  0.409083  0.888734 -0.505959
60           1     0 -0.181614 -0.180814  0.115133
...        ...   ...       ...       ...       ...
52065        0     1  0.174092 -0.263305 -0.240344
52074        0     1  0.332787  1.071858  0.598740
52086        0     1  0.121105  0.729138  0.505760
52091        1     0 -0.088805 -1.025567 -0.543944
52093        0     1  0.112982 -0.295338 -0.247430

[8460 rows x 5 columns]

In [ ]:
len(((df['B20']-df['R20'])*df['prob']).gt(0))

43048